/*
CSS para ManGoApp
BOTONES
Autor: Danny Estrada
*/

button{
    border-radius: 2.5em;
    border: none;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: Product Sans;
    font-weight: 600;
    letter-spacing: 0.075em;
    outline: none;
    padding: 1em 1.75em 1em 1.75em;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    vertical-align: middle;
    cursor: pointer;
    margin: 0em;
    font-size: 1em;
}

button:hover {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

button:active {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}





.rdm-boton--icono{
    margin: 0em 0em 0em 0em;
}

.rdm-boton--texto{
    margin: 0em 0em 0em 1em;
}

.rdm-boton--plano{
    background-color: #FFCCBC;
    box-shadow: none;
    color: #DD2C00;
}

.rdm-boton--elevado{
    background-color: none;
    color: #6D4C41;
}

.rdm-boton--primario{
    background-color: #DD2C00;
    box-shadow: none;
}

.rdm-boton--resaltado{
    background-color: #FB7100;
    color: rgba(255, 255, 255, 1);
}

.rdm-boton--plano-resaltado{
    background-color: transparent;
    box-shadow: none;
    color: #6D4C41;
}

.rdm-boton--delineado{
    background-color: transparent;
    box-shadow: none;
    color: #6D4C41;
    border: solid 0.15em;
    border-color: #837468;
}

.rdm-boton--fab{
    background-color: #E65100;
    border-radius: 1em;
    bottom: 1.5em;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color: #ffffff;
    font-size: 1em;
    height: 4em;
    margin: 0;
    padding: 1em;
    position: fixed;
    right: 1.5em;
    width: 4em;
    z-index: 200;
}

.rdm-boton--fab-extended{
    background-color: #E65100;
    border-radius: 1em;
    bottom: 1.5em;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color: #ffffff;
    margin: 0;
    padding: 1.5em 1.5em;
    position: fixed;
    right: 1.5em;
    z-index: 200;
}

.rdm-boton--fab:hover, .rdm-boton--fab-extended:hover{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.rdm-boton--fab:active, .rdm-boton--fab-extended:active{
    box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.5), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.rdm-boton--checkbox
{
    border: solid 1px black;
    width: 1em;
    height: 1em;
}




/*NUEVOS BOTONES M3*/

.rdm-boton--elevated{
    background-color: transparent;
    color: #8b5000;
}

.rdm-boton--filled{
    background-color: #8b5000;
    box-shadow: none;
    color: #ffffff;
}

.rdm-boton--tonal{
    background-color: #ffdcbe;
    box-shadow: none;
    color: #8b5000;
}

.rdm-boton--outlined{
    background-color: transparent;
    box-shadow: none;
    color: #8b5000;
    border: solid 0.15em;
    border-color: #837468;
}

.rdm-boton--text{
    background-color: none;
    box-shadow: none;
    color: #8b5000;
}