/*
CSS para ManGoApp
ESTILOS
Autor: Danny Estrada
*/

@import "normalize.css";
@import "toolbar.css";
@import "botones.css";
@import "listas.css";
@import "mosaicos.css";
@import "tarjetas.css";
@import "tipografia.css";
@import "snackbar.css";
@import "formularios.css";
@import "vacio.css";
@import "facturas.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css";

@media print {
  @page{
    margin: 0;
  }
}

/*fuente*/
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/googlesans/v58/4UaRrENHsxJlGDuGo1OIlJfC6mGS6vhAK1YobMu2vgCIhM907w.woff2) format('woff2');
}


/*elementos comunes*/
body{
	background-color: rgba(0, 0, 0, 0.05);
	color: #222; /*color de la fuente global: gris muy oscuro*/
	font-family: Product Sans;
	font-size: 15px; /*tamaño de la fuente global*/
	font-weight: normal; /*densidad de la fuente*/
	margin: 0; /*espacio entre el contenido y el borde*/
}

a{
	color: inherit;
	text-decoration: none;
	outline: none;
}

.rdm--contenedor-toolbar, .rdm--contenedor-toolbar-tabs{
	box-sizing: border-box; /*el padding y margin no incrementan el ancho*/
	margin: 0 auto; /*espacio entre el contenido y el borde*/
	max-width: 600px; /*ancho máximo del menú del contenedor*/
	width: 95%; /*ancho del contenedor*/
	margin-top: 5rem;
}

.rdm--contenedor-toolbar-tabs{
	margin-top: 8.25rem;
}

.rdm--contenedor-toolbar, .rdm--contenedor-zona{
	box-sizing: border-box; /*el padding y margin no incrementan el ancho*/
	margin: 0 auto; /*espacio entre el contenido y el borde*/
	max-width: 600px; /*ancho máximo del menú del contenedor*/
	width: 95%; /*ancho del contenedor*/
	margin-top: 5rem;
}

.rdm--contenedor-zona{
	width: 95%; /*ancho del contenedor*/
	max-width: 80em; /*ancho máximo del menú del contenedor*/
}

a.ancla{
	display: block; /*visualización en bloque*/
	position: relative; /*posiciones relativa*/
	top: -4em; /*la margen superior es negativa para compensar el espacio del cabezote*/
	visibility: hidden; /*no se muestra*/
}

.rdm-resaltado
{
    color: #009688;
    font-weight: 600;
}

.flecha_aba{
    border-right:0.4em solid transparent;
    border-left:0.4em solid transparent;
    border-top:0.4em solid #F44336;
    display: inline-block;
    margin-right: 0.25em;
}

.flecha_arr{
    border-right:0.4em solid transparent;
    border-left:0.4em solid transparent;
    border-bottom:0.4em solid #009688;
    display: inline-block;
    margin-bottom: 0.25em;
    margin-right: 0.25em;
}

.texto_neutro{
		font-size: 1.15em;
		font-weight: bold;
	}

.texto_exito{
	color: #009688;
	font-weight: bold;
}

.texto_error{
	color: #F44336;
	font-size: 1.15em;
	font-weight: bold;
}

/*media queries*/
@media screen and (max-width: 530px){
	body{
		font-size: 15px;
	}