/*
CSS para ManGoApp
FACTURAS
Autor: Danny Estrada
*/

.rdm-factura, .rdm-factura--imprimir{
    background-color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 0em;
    width: 100%;    
    padding: 1.25em 0em;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.75em;
}

.rdm-factura--imprimir{
    box-shadow: none;
    font-size: 12px;
    max-width: 30em;
}

.rdm-factura--contenedor, .rdm-factura--contenedor--imprimir{
    width: 80%;
    margin: 0px auto;
    max-width: 400px;
}

.rdm-factura--contenedor--imprimir{
    width: 90%;
}

.rdm-factura--texto{
    text-align: center;    
    width: 100%;
}

.rdm-factura--item{
    border-bottom: dashed 1px #555;
    display: block;
    padding: 0.2em 0em 0em 0em;
}

.rdm-factura--izquierda, .rdm-factura--izquierda-centro{
    display: inline-block;    
    text-align: left;
    width: 63%;
}

.rdm-factura--derecha, .rdm-factura--derecha-centro{
    display: inline-block;    
    text-align: right;
    width: 34%;
}

.rdm-factura--izquierda-centro, .rdm-factura--derecha-centro{
    width: 49%;
}








.rdm-factura--mediacarta-contenedor{
    box-sizing: border-box; /*el padding y margin no incrementan el ancho*/ 
    width: 100%; /*ancho del contenedor*/
    max-width: 900px;
    background-color: rgba(0,0,0,0.0);
    margin: 0 auto;
    padding: 0em;
    font-size: 0.8em;
    font-family: arial;
    line-height: 1.5em;
}

.rdm-factura--mediacarta-fila{
    box-sizing: border-box; /*el padding y margin no incrementan el ancho*/ 
    width: 100%; /*ancho del contenedor*/    
    background-color: rgba(0,0,0,0);
    margin: 0.25em 0;
    padding: 0em;
    display: flex;
}

.rdm-factura--mediacarta-columna{
    box-sizing: border-box; /*el padding y margin no incrementan el ancho*/ 
    width: 100%; /*ancho del contenedor*/    
    background-color: rgba(0,0,0,0.0);
    margin: 0.25em 0.25em;
    padding: 0.25em;
}




























.rdm-factura--imprimira4{
    box-sizing: border-box; /*el padding y margin no incrementan el ancho*/ 
    width: 99%; /*ancho del contenedor*/
    max-width: 900px;
    background-color: rgba(0,0,0,0.1);
    margin: 0 auto;
    border: solid black 1px;
    padding: 1em;
}

.rdm-factura--contenedora4{
    margin: 0 auto; /*espacio entre el contenido y el borde*/
    width: 100%; /*ancho del contenedor*/
    border: solid 1px #999;
    padding: 1em;   
    font-size: 1em;
    text-align: center;
    box-sizing: border-box; /*el padding y margin no incrementan el ancho*/ 
    margin: 0.5em 0em 0.5em 0em; 
}

.rdm-factura--contenedor-fijoa4{
    margin: 0 auto; /*espacio entre el contenido y el borde*/
    bottom: 0;
    width: 100%; /*ancho del contenedor*/
    border: solid 1px #999;
    padding: 1em;   
    font-size: 1em;
    text-align: center;
    box-sizing: border-box; /*el padding y margin no incrementan el ancho*/ 
    margin: 0.5em 0em 0.5em 0em; 
}

.rdm-factura--izquierdaa4{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.rdm-factura--derechaa4{
    width: 49%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.rdm-factura--encabezadoa4{
    display: inline-flex;
    width: 15%;
    text-align: center;
    box-sizing: border-box; /*el padding y margin no incrementan el ancho*/ 
    font-weight: 600;
    padding: 1em 0em;
}

.rdm-factura--textoa4{
    display: inline-flex;
    width: 15%;
    text-align: left;
    box-sizing: border-box; /*el padding y margin no incrementan el ancho*/ 
    border-bottom: 1px solid #999;
}